[Desktop Entry]
Version=1.0
Type=Application
Name=Todo Mate
GenericName=Todo Manager
Comment=Make your day perfect with the easy-to-use and pretty todo mate app.
Exec=$(which google-chrome-stable) --app=https://todomate.net
Icon=todomate
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=todo-mate
