[Desktop Entry]
Version=1.0
Type=Application
Name=Notion
GenericName=Notes
Comment=A new tool that blends your everyday work apps into one.
Exec=$(which google-chrome-stable) --app=https://notion.so/
Icon=notion
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=notion
